services:
  postiz-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: otomatisin/postiz:dev
    restart: unless-stopped

    ports:
      - "127.0.0.1:4200:4200"
      - "127.0.0.1:3333:3000"

    env_file:
      - .env.dev

    volumes:
      - ./.env.dev:/app/.env:ro

    environment:
      NEXTAUTH_URL: "https://dev.otomatis.in"
      FRONTEND_URL: "https://dev.otomatis.in"
      MAIN_URL: "https://dev.otomatis.in"
      NEXT_PUBLIC_BACKEND_URL: "https://api.otomatis.in"

      DATABASE_URL: "postgresql://postiz-local:postiz-local-pwd@postiz-postgres:5432/postiz-db-local?schema=public"
      REDIS_URL: "redis://postiz-redis:6379"

    networks:
      - postiz-network

    depends_on:
      postiz-postgres:
        condition: service_healthy
      postiz-redis:
        condition: service_healthy

networks:
  postiz-network:
    external: true
